@font-face {
    font-family: 'Montserrat Fallback';
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Montserrat Fallback Italic';
    src: url("fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Inabakumori Sans';
    src: url('./files/InabakumoriSans-Regular.ttf') format('truetype'),
        url('./files/InabakumoriSans-Regular.woff') format('woff'),
        url('./files/InabakumoriSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inabakumori Sans';
    src: url('./files/nabakumoriSans-Bold.ttf') format('truetype'),
        url('./files/InabakumoriSans-Bold.woff') format('woff'),
        url('./files/InabakumoriSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
:root {
    --gray-1:#222;
    --gray-2:#333;
    --gray-3:#555;
    --white:#fff;
    --white-1:#eee;
    --white-2:#ddd;
    --white-3:#aaa;
}
.light {
    --background: var(--white);
    --background-2: var(--white-1);
    --background-3: var(--white-3);
    --primary:var(--gray-1);
    --secondary:var(--gray-2);
    --nav: rgba(255, 255, 255, 0.8);
}
.dark {
    --background: var(--gray-1);
    --background-2: var(--gray-2);
    --background-3: var(--gray-3);
    --primary: var(--white-1);
    --secondary:var(--white-2);
    --nav: rgba(0, 0, 0, 0.8);
}
::selection {
    background:#7F80D5;
}
html::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
html::-webkit-scrollbar-track {
    background: var(--background-2);
}
html::-webkit-scrollbar-thumb {
    background: var(--background-3);
}
body {
    margin: 0%;
    padding: 0%;
    background-color: var(--background);
    font-family: 'Noto Sans Mono', 'Montserrat Fallback', Source Han Sans SC VF, sans-serif;
    transition: 0.3s all;
}
footer a:visited {
    color: var(--secondary);
}
ul {
    list-style: none;
}
.active-page span {
    font-weight: 800;
}
.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    position: absolute;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: 80%;
    height: 60px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    background: none;
    border-bottom: 1px solid #fff;
}
.hachi-logo {
    height:30px;
    transition: 0.3s filter;
    /*margin-left: 60px;*/
}
.hachi-logo:hover {
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
    transition: 0.3s filter;
}
.navbar-link {
    color: var(--primary);
    font-weight: 600;
    transition: 0.3s color;
    text-decoration: none;
    transition: 0.3s font-weight;
}
.navbar-link:hover {
    transition: 0.3s filter;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
}
.navbar-link:active {
    fill-opacity: 50%;
    font-weight:200;
    transition: 0.3s color;
    transition: 0.3s font-weight;
}
.main-nav {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-right:auto;
}
.social-icon svg {
    fill:var(--primary);
    display: flex;
    transition: 0.2s filter;
}
.social-icon svg:hover {
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
    transition: 0.2s filter;
}
.social-icon a:active {
    fill-opacity: 50%;
}
.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.dropdown {
    position: absolute;
    width: 9em;
    height: 2em;
    opacity: 0;
    z-index: 1001;
    background-color: var(--background-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 2.5em;
    border-radius: 6px;
    border: 1px solid var(--background-3);
    transform: translateX(-30%);
    transition: .2s opacity;
}
.main-content {
    background: var(--background);
}
ul {
    padding:0
}
li {
    padding-bottom: 6px;
}
h1 {
    margin: 0;
    font-weight: 300;
    transition: all 0.3s;
}
h1:hover {
    font-weight: 600;
    transition: all 0.3s;
}
p {
    margin: 0;
    font-weight: 500;
}
.footer {
    background-color: var(--background-2);
    color: var(--primary);
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-areas: "info info nav1 nav2" "legal legal legal legal";
    gap: 1em;
    padding: 1% 2%;
    width: -webkit-fill-available;
}
.footer-info {
    display:flex;
    flex-flow: column nowrap;
    gap: .8em;
    font-weight:550;
    height: 160px;
    justify-content: center;
}
.footer-email {
    transition: 0.2s all;
}
.footer-email:active{
    fill-opacity: 50%;
    transition: 0.2s fill-opacity;
}
.footer-nav2 h3 {
    hyphens: auto;
}
a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.2s all;
}
a:hover {
    font-weight:700;
    transition: 0.2s font-weight;
}
a:active {
    color: var(--background-3);
    transition: 0.2s color;
}
abbr {
    text-decoration: underline wavy;
}
.footer-legal {
    border-top: 1px solid var(--secondary);
    padding-top: 10px;
}
@media only screen and (orientation:portrait) {
    /* GLOBAL */
    html, body {
        overflow: hidden;
        overflow-y: auto;
    }
    .navbar {
        padding: none;
        justify-content: space-around;
    }
    .main-nav {
        align-items: center;
        text-align: center;
    }
    .footer {
        grid-template-columns:  repeat(2,minmax(0,1fr));
        grid-template-areas: "info nav1" "legal nav2";
    }
    .footer-info {
        padding-top:1em
    }
    .footer-hgt {
        height: 404.45px;
    }
}