.title::after {
    background: conic-gradient(from 100deg at 52.19% 42.81%, #080C12 111.22576832771301deg, #071F74 165.83515763282776deg, #2B2AC5 167.82440185546875deg, #7E00FF 192.62936353683472deg, #BD00FF 297.2256016731262deg, #080C12 323.6249542236328deg);}

.main-content {
    color: var(--primary);
    display: flex;
    padding: 6em 10em;
    gap: 100px;
    flex-flow: column nowrap;
}

.textBlockL {
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    font-size: 24px;    
    font-family: Instrument Sans;
    font-style: normal;
    line-height: normal;
    gap: 66px;
    align-items: center;
    
}
.textBlockL p {
    width: 660px;
    font-weight: 400;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textBlockR {
    display: flex;
    flex-flow: row-reverse wrap;
    text-align: right;
    font-size: 24px;    
    font-family: Instrument Sans;
    font-style: normal;
    line-height: normal;
    gap: 66px;
    align-items: center;
    
}
.textBlockR p {
    width: 660px;
    font-weight: 400;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sb {
    font-weight: 600;
}

.textBlockL img, .textBlockR img, .waifus img {
    transition: .5s all;
}
.textBlockL img:hover,.textBlockR img:hover, .waifus img:hover {
    transform: translateY(-4px);
    transition: .5s all;
}

.waifus {
    display: flex;
    flex-flow: row wrap;
    gap: 160px;
    justify-content: center;
    align-items: center;
}
.sectionTitle {
    text-align: center;
    font-size: 28.8px;
    font-family: Instrument Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 152%;
    letter-spacing: -0.576px;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (orientation:portrait) {
    .kamitsubaki {
        flex-flow: row wrap;
    }
    .main-content {
        padding: 1em;
    }
    .kaf, .isekaijoucho {
        max-width: 90vw;
    }
}
