html::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
.title {
    font-size: 3rem;
    background: #B6B6B6 no-repeat center/80% url("https://raw.gitmirror.com/hcrk9/hcrk9.github.io/main/images/inabaku.jpg");
    height: 100vh;
    display: flex;
    flex-flow: column-reverse nowrap;
}
.title span {
    padding-left: 2em;
    padding-bottom: 2em;
    font-weight: 700; 
    color: white; 
    font-family:'Inabakumori Sans';
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}
html::-webkit-scrollbar-track {
    background: var(--background-2);
}
html::-webkit-scrollbar-thumb {
    background: var(--background-3);
}
body {
    margin: 0%;
    padding: 0%;
    background-color: var(--background);
    font-family: 'Noto Sans Mono', 'Montserrat', 'Montserrat Fallback', Source Han Sans SC VF, sans-serif;
    transition: 0.3s all;
    background-color: #b0b0b0;
}
footer a:visited {
    color: var(--secondary);
}
ul {
    list-style: none;
}
.active-page span {
    font-weight: 800;
}
.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    position: absolute;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: 80%;
    height: 60px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    background: none;
    border-bottom: 1px solid #fff;
}
.hachi-logo {
    height:30px;
    transition: 0.3s filter;
    /*margin-left: 60px;*/
}
.hachi-logo:hover {
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
    transition: 0.3s filter;
}
.navbar-link {
    color: var(--primary);
    font-weight: 600;
    transition: 0.3s color;
    text-decoration: none;
    transition: 0.3s font-weight;
}
.navbar-link:hover {
    transition: 0.3s filter;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
}
.navbar-link:active {
    fill-opacity: 50%;
    font-weight:200;
    transition: 0.3s color;
    transition: 0.3s font-weight;
}
.social-icon svg {
    fill:var(--primary);
    display: flex;
    transition: 0.2s filter;
}
.social-icon svg:hover {
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
    transition: 0.2s filter;
}
.social-icon a:active {
    fill-opacity: 50%;
}
.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.dropdown {
    position: absolute;
    width: 9em;
    height: 2em;
    opacity: 0;
    z-index: 1001;
    background-color: var(--background-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 2.5em;
    border-radius: 6px;
    border: 1px solid var(--background-3);
    transform: translateX(-30%);
    transition: .2s opacity;
}
.main-content {
    background: #b0b0b0;
}
ul {
    padding:0
}
li {
    padding-bottom: 6px;
}
h1 {
    margin: 0;
    font-weight: 300;
    transition: all 0.3s;
}
h1:hover {
    font-weight: 600;
    transition: all 0.3s;
}
p {
    margin: 0;
    font-weight: 500;
}
.footer {
    background-color: var(--background-2);
    color: var(--primary);
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-areas: "info info nav1 nav2" "legal legal legal legal";
    gap: 1em;
    padding: 1% 2%;
    width: -webkit-fill-available;
}
.footer-info {
    display:flex;
    flex-flow: column nowrap;
    gap: .8em;
    font-weight:550;
    height: 160px;
    justify-content: center;
}
.footer-email {
    transition: 0.2s all;
}
.footer-email:active{
    fill-opacity: 50%;
    transition: 0.2s fill-opacity;
}
.footer-nav2 h3 {
    hyphens: auto;
}
a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.2s all;
}
a:hover {
    font-weight:700;
    transition: 0.2s font-weight;
}
a:active {
    color: var(--background-3);
    transition: 0.2s color;
}
abbr {
    text-decoration: underline wavy;
}
.footer-legal {
    border-top: 1px solid var(--secondary);
    padding-top: 10px;
}


.content {
    padding: 6em 0;
    width: 60%;
    margin: auto;
    background-color: #b0b0b0;
    color: #222;
    font-size: 1.5em;
    font-family: 'Inabakumori Sans', 'Noto Sans SC';
}
.content a {
    color: #6667ab;
}
@media only screen and (orientation:portrait) {
    /* GLOBAL */
    html, body {
        overflow: hidden;
        overflow-y: auto;
    }
    .content {
        width: 80%;
    }
    .navbar {
        padding: none;
        justify-content: space-around;
    }
    .main-nav {
        align-items: center;
        text-align: center;
    }
    .footer {
        grid-template-columns:  repeat(2,minmax(0,1fr));
        grid-template-areas: "info nav1" "legal nav2";
    }
    .footer-info {
        padding-top:1em
    }
    .footer-hgt {
        height: 404.45px;
    }

    .title {
        font-size: 2rem;
        margin: auto;
        padding: 0;
    }
}