.title {
    background: no-repeat center/186% url("./images/sssurf.svg");
    height: 60vh;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-text {
    text-align: center;
    letter-spacing: -0.04em;
    background: linear-gradient(135deg, #B0B1FF 15%, #2FCEF1 100%);                
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-line-1 {
    animation: 8s line-1 ease;
    font-weight: 120;
    letter-spacing: -0.08em;
    transition: all 1s;
}
.title-line-1:hover {
    font-weight: 400;
    letter-spacing: 0em;
    transition: all 1s;
}
.title-line-2 {
    animation: 8s line-2 ease;
    font-weight: 120;
    letter-spacing: -0.08em;
    transition: all 1s;
}
.title-line-2:hover {
    font-weight: 400;
    letter-spacing: 0em;
    transition: all 1s;
}
.title-line-3 {
    animation: 8s line-3 ease;
    letter-spacing: -0.08em;
    font-variation-settings: "wght" 100, "wdth" 50, "GRAD" 100;
    font-style: italic;
    font-family: "Roboto Serif", serif;
    transition: 1s font-variation-settings;
}
.title-line-3:hover {
    font-variation-settings: "wght" 900, "wdth" 150, "GRAD" -50;
    transition: 1s font-variation-settings;
}
@keyframes line-1 {
    0% {
        font-weight: 120;
        letter-spacing: -0.08em;
    }
    50% {
        font-weight: 400;
        letter-spacing: 0em;
    }
    100% {
        font-weight: 120;
        letter-spacing: -0.08em;
    }
}
@keyframes line-2 {
    0% {
        font-weight: 120;
        letter-spacing: -0.08em;
    }
    50% {
        font-weight: 500;
        letter-spacing: 0em;
    }
    100% {
        font-weight: 120;
        letter-spacing: -0.08em;
    }
}
@keyframes line-3 {
    0% {
        font-variation-settings: "wght" 100, "wdth" 50, "GRAD" 100;
        letter-spacing: -0.08em;
    }
    50% {
        font-variation-settings: "wght" 900, "wdth" 150, "GRAD" -50;
        letter-spacing: 0.04em;
    }
    100% {
        font-variation-settings: "wght" 100, "wdth" 50, "GRAD" 100;
        letter-spacing: -0.08em;
    }
}

.main-content {
    color: var(--primary);
    padding: 4em 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-content a {
    text-decoration: underline wavy;
}
.main-grid {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "title-01 title-01" "cugan esrgan" "craiyon ." "title-02 title-02" "uvr .";
    gap:2em 16em;
}
h2 {
    font-weight: 600;
}
.main-content p,i {
    width: 20vw;
}



@media only screen and (orientation:portrait) {
    .title {
        background: no-repeat center/386% url("./images/sssurf.svg");
        font-size: 7vw;
    }
    .main-nav {
        align-items: center;
        text-align: center;
    }
    .main-grid {
        grid-template-rows: repeat(1,1fr);
        grid-template-areas: "title-01" "cugan" "esrgan" "craiyon" "title-02" "uvr";
        padding: 0 2em;
    }
    .main-content p,i {
    width: 50vw;
    }
}