---
---

body {
    background: #080C13;
    font-family: "Instrument Sans", "Noto Sans SC";
}
::-webkit-scrollbar {
    display: none;
}
.title {
    font-size: 6em;
    background: #080C13;
    display: flex;
    flex-flow: column nowrap;
}
.title::after {
    background: conic-gradient(from 109deg at 52.19% 42.81%, #080C12 55.49995243549347deg, #372AD0 144.42530393600464deg, #43FFE8 150.41244506835938deg, #2AA0C5 181.80834531784058deg, #53B816 271.99687242507935deg, #EBFF99 296.9915199279785deg, #151A0C 323.6249542236328deg);
}
.title span {
    position: absolute;  
    bottom: 50%;
    transform: translateY(50%); 
    font-weight: 400; 
    font-size: 52px;
    letter-spacing: -1.5px;
    z-index: 3;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s cubic-bezier(.32,.99,.62,1);
}
.title span:hover {
    font-weight: 600;
    transition: all .5s cubic-bezier(.32,.99,.62,1);
}

.main-content {
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
}
.design-item {
    width: 80%;
    max-width: 100%;
    min-height: 48em;
    margin: auto;
}
.design-item:last-child {
    padding-bottom: 3em;
}
.transit {
    background-color: #C6C6C6;
}
.millennium {
    font-family: "Gotham", "Montserrat", "Noto Sans SC";
    z-index: 4;
    color: #eee;
    background-color: #080C12;
    background-image: url(/assets/images/millennium-bg.svg);
    background-size: cover;
    background-position: center;
}
.ba-logo {
    background-image: url("{{site.baseurl}}/assets/images/schale_halo.svg");
    background-size: cover;
    background-position: center;
    font-family: "Gotham", "Montserrat", "Noto Sans SC";
    z-index: 4;
    color: #eee;
}

.ba-logo-h {
    min-height: 1em!important;
}
.ba-logo-dl {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding: 4em 0;
}
.ba-logo-img {
    display: contents;
}
.ba-logo-img img {
    transition: all .3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-width: 80%;
}
.ba-logo-img:hover img {
    filter: drop-shadow(0px 4px 8px #ffffff99);
    transform: translateY(-10px);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .3s;
}

.bg-1 {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    padding-top: 4em;
    z-index: 0;
    pointer-events: none;
}
.bg-1 img {
    height: 450px;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.35));
}
.transit h2 {
    letter-spacing: .1em;
}
h2 {
    font-size: 6rem;
    margin-block-end:0%;
    margin-block-start: 0%;
}

h4 {
    font-size: 2rem;
    border-bottom: 2px solid #aaa;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 3em;
}
.white {
    font-size: 2rem;
    border-bottom: 2px solid white !important;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 3em;
}

p {
    padding: 3em 0;
}
.dl-button{
    padding: 8px 14px;
    background-color: #222;
    color: #eee;
    border-radius: 4px;
    transition: all .3s;
    text-decoration: none;
    transform:none;
    width: fit-content;
    
    font-weight: 700;
    letter-spacing: .1em;
}
.dl-button a {
    color: #eee;
    text-decoration: none;
}
.dl-button:hover {
    transform: translateY(-2px);
    background-color: #17202E;
    color: #eee;
    text-decoration: none;
    transition: all .3s;
}
.btns {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
.dl-tip {
    font-style: italic;
    opacity: .6;
    margin: auto;
    text-align: center;
}



.ba-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 6em;
    gap: 4em;
}
.ba-card-image img {
    max-width: 800px;
    max-height: 342px;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}
.ba-card-image button {
    background-color: transparent;
    border: 2px solid #eee;
    color: #eee;

    font-family: "Gotham", "Montserrat", "Noto Sans SC";
    font-size: 1.2em;

    border-radius: 4px;
    transition: .3s all;
}
.ba-card-image button:hover {
    background-color: #222;
    border: 2px solid #eee;
    color: #eee;
    transition: .3s all;
}
.ba-card-btn {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin: 2rem 0;
}

.arrowWrap {
    height: 68px;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}
.arrow img {
    animation: arrow 1s infinite;
}

@keyframes arrow {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: none;
    }
}

@media only screen and (orientation:portrait) {
    .projects h1 {
        padding: 0.5em 3rem!important;
    }
    .title {
        font-size: 10vw;
    }
    .ba-card-image {
        margin:auto;
    }
    .ba-card-image img {
        margin:auto;
        max-width: 100%;
        max-height: none;
        filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
    }
    h2 {
        font-size: 4.5rem;
    }
    .btns {
        flex-flow: column nowrap;
        gap:10px;
    }
    .drive-stickers {
        width: 100%!important;
    }
    .drive-dl img {
        max-width: 80vw!important;
    }
    .drive-stickers h4 {
        width: 80%;
        margin: auto;
    }

}

.main-content {
    counter-reset: section;
}
h4::before {
    counter-increment: section;
    content: counter(section);
}

.lighter-section {
    background-color: #121821;
    display: flex;
    flex-flow: column nowrap;
    color: #eee;
    padding: 0 10% 64px 10%;
    margin: auto;
    justify-content: center;
    gap: 64px;
}
.darker-section {
    background-color: #081222;
    display: flex;
    flex-flow: column nowrap;
    color: #eee;
    padding: 0 10% 64px 10%;
    margin: auto;
    justify-content: center;
    gap: 64px;
}
.drive-dl {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin: auto;
}
.drive-dl img {
    max-height: 500px;
    max-width: 1200px;
    transition: .3s all;
}
.drive-dl img:hover {
    transform: translateY(-4px);
    transition: .3s all;
}
.rounded {
    border-radius: 12px;
}
.rounded img {
    border-radius: 12px;
}

.figma-link {
    border-bottom: 2px solid #eee;
    margin: auto;
    font-size: 36px;
    transition: all .4s;
    font-family: 'LCDDot TR';
}
.figma-link:hover {
    transform: translateY(-4px);
    transition: all .4s;
}

@font-face {
    font-family: 'LCDDot TR';
    src: url('../fonts/lcddottr.woff') format('woff'),
        url('../fonts/lcddottr.woff2') format('woff2');
    font-display: swap;
}

.section-title {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2em;
    margin: auto;
}

.ssd {
    max-width: 720px!important;
    max-height: 400px!important;
}

.info-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.left-info, .right-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
}
.left-info {
    align-items: flex-start;
}
.right-info {
    align-items: flex-end;
}
.left-info a {
    margin: 0;
}
.right-info span {
    margin: 0;
}

.gt-container {
    color: #eee;
}