.title {
    font-size: 6em;
    background: #B6B6B6 no-repeat center/80% url("https://raw.gitmirror.com/hcrk9/hcrk9.github.io/main/images/inabaku.jpg");
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
.main-content {
    background-color: #C6C6C6;
}
.design-item {
    width: 80%;
    max-width: 100%;
    min-height: 48em;
    margin: auto;
}
.design-item:last-child {
    padding-bottom: 3em;
}
.transit {
    background-color: #C6C6C6;
    font-family: "Inabakumori Sans", "Noto Sans SC";
}
.millennium {
    background-color: #F2F7FE;
    font-family: "Gotham", "Montserrat", "Noto Sans SC";
    z-index: 999;
}
.bg-1 {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    padding-top: 4em;
    z-index: 0;
    pointer-events: none;
}
.bg-1 img {
    height: 450px;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.35));
}
.transit h2 {
    letter-spacing: .1em;
}
h2 {
    font-size: 6rem;
    margin-block-end:0%;
    margin-block-start: 0%;
}
h4 {
    font-size: 2rem;
    border-bottom: 2px solid black;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 3em;
}
p {
    padding: 3em 0;
}
.dl-button{
    padding: 8px 14px;
    background-color: black;
    color: white;
    border-radius: 4px;
    transition: all .3s;
    text-decoration: none;
    transform:none;
    width: fit-content;
    
    font-weight: 700;
    letter-spacing: .1em;
}
.dl-button a {
    color: white;
    text-decoration: none;
}
.dl-button:hover {
    transform: translateY(-2px);
    background-color: #1e1e1e;
    text-decoration: none;
    transition: all .3s;
}
.btns {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}



.ba-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 6em;
    gap: 4em;
}
.ba-card-image img {
    max-width: 800px;
    max-height: 342px;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}
.ba-card-image button {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;

    font-family: "Gotham", "Montserrat", "Noto Sans SC";
    font-size: 1.2em;

    border-radius: 4px;
    transition: .3s all;
}
.ba-card-image button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    transition: .3s all;
}
.ba-card-btn {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin: 2rem 0;
}

.arrowWrap {
    height: 68px;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}
.arrow img {
    animation: arrow 1s infinite;
}
@keyframes arrow {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: none;
    }
}

.title span {
    position: absolute; 
    left: 13rem; 
    bottom: 8rem; 
    font-weight: 700; 
    color: white; 
    font-family:'Inabakumori Sans'
}
@media only screen and (orientation:portrait) {
    .title span {
        left: 50%;
        transform: translateX(-50%);
    }
    .projects h1 {
        padding: 0.5em 3rem!important;
    }
    .title {
        font-size: 10vw;
        background: #B6B6B6 no-repeat top/250% url("https://raw.gitmirror.com/hcrk9/hcrk9.github.io/main/images/inabaku.jpg");
    }
    .ba-card-image {
        margin:auto;
    }
    .ba-card-image img {
        margin:auto;
        max-width: 100%;
        max-height: none;
        filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
    }
    h2 {
        font-size: 4.5rem;
    }
    .btns {
        flex-flow: column nowrap;
        gap:10px;
    }
}