@font-face {
    font-family: 'Inabakumori Sans';
    src: url('../../files/InabakumoriSans-Regular.ttf') format('truetype'),
        url('../../files/InabakumoriSans-Regular.woff') format('woff'),
        url('../../files/InabakumoriSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inabakumori Sans';
    src: url('../../files/InabakumoriSans-Bold.ttf') format('truetype'),
        url('../../files/InabakumoriSans-Bold.woff') format('woff'),
        url('../../files/InabakumoriSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    animation: fadeIn ease 1s;
    overflow-x: hidden;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
    }
}
:root {
    --gray-1:#222;
    --gray-2:#333;
    --gray-3:#555;
    --white:#fff;
    --white-1:#eee;
    --white-2:#ddd;
    --white-3:#aaa;
}
.light {
    --background: var(--white);
    --background-2: var(--white-1);
    --background-3: var(--white-3);
    --primary:var(--gray-1);
    --secondary:var(--gray-2);
    --nav: rgba(255, 255, 255, 0.8);
}
.dark {
    --background: #080C13;
    --background-2: var(--gray-2);
    --background-3: var(--gray-3);
    --primary: var(--white-1);
    --secondary:var(--white-2);
    --nav: rgba(0, 0, 0, 0.8);
}
::selection {
    background:#EEE;
    color: #0e0e0e;
}
html::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background: transparent;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: var(--background);
    font-family: "Instrument Sans", "Noto Sans SC", sans-serif;
    transition: 0.3s all;
}
footer a:visited {
    color: var(--secondary);
}
.active-page span {
    font-weight: 800;
}
.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: 80%;
    height: 60px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    background: none;
    border-bottom: 1px solid #fff;
}
.hachi-logo {
    height:30px;
    transition: 0.3s filter;
    /*margin-left: 60px;*/
}
.hachi-logo:hover {
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
    transition: 0.3s filter;
}
.navbar-link {
    color: var(--primary);
    font-weight: 500;
    transition: 0.3s color;
    text-decoration: none;
    transition: 0.3s font-weight;
}
.navbar-link:hover {
    transition: 0.3s filter;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
}
.navbar-link:active {
    fill-opacity: 50%;
    font-weight:200;
    transition: 0.3s color;
    transition: 0.3s font-weight;
}
.main-nav {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-right:auto;
}
.social-icon svg {
    fill:var(--primary);
    display: flex;
    transition: 0.2s filter;
}
.social-icon svg:hover {
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
    transition: 0.2s filter;
}
.social-icon a:active {
    fill-opacity: 50%;
}
.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.dropdown {
    position: absolute;
    width: 9em;
    height: 2em;
    opacity: 0;
    z-index: 1001;
    background-color: var(--background-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 2.5em;
    border-radius: 6px;
    border: 1px solid var(--background-3);
    transform: translateX(-30%);
    transition: .2s opacity;
}
.main-content {
    background: linear-gradient(180deg, #131518 0%, #001028 100%);}
li {
    padding-bottom: 6px;
}
h1 {
    margin: 0;
    font-weight: 300;
    transition: all 0.3s;
}
h1:hover {
    font-weight: 600;
    transition: all 0.3s;
}
p {
    margin: 0;
    font-weight: 500;
}
.footer {
    background-color: #080c12;
    color: var(--primary);
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-areas: "info info nav1 nav2" "legal legal legal legal";
    gap: 1em;
    padding: 1% 2%;
    width: -webkit-fill-available;
    box-shadow: 0px -8px 16px 0px rgba(18, 32, 52, 0.50);

    z-index: 1;
    position: relative;
}
.footer-info {
    display:flex;
    flex-flow: column nowrap;
    gap: .8em;
    font-weight:550;
    justify-content: center;
}
.footer-email {
    transition: 0.2s all;
}
.footer-email:active{
    fill-opacity: 50%;
    transition: 0.2s fill-opacity;
}
.footer-nav2 h3 {
    hyphens: auto;
}
a {
    text-decoration: none;
    color: var(--secondary);
    transition: 0.2s all;
}
.footer a:hover {
    font-weight:700;
    transition: 0.2s font-weight;
}
.navbar-link:hover {
    font-weight:700;
    transition: 0.2s font-weight;
}
a:active {
    color: var(--background-3);
    transition: 0.2s color;
}
abbr {
    text-decoration: underline wavy;
}
.footer-legal {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    padding-top: 10px;
}
@media only screen and (orientation:portrait) {
    /* GLOBAL */
    html, body {
        overflow: hidden;
        overflow-y: auto;
    }
    .navbar {
        padding: none;
        justify-content: space-around;
    }
    .main-nav {
        align-items: center;
        text-align: center;
    }
    .footer {
        grid-template-columns:  repeat(2,minmax(0,1fr));
        grid-template-areas: "info nav1" "legal nav2";
    }
    .footer-info {
        padding-top:1em
    }
}
.mobile-menu {
    display: none;
}
.mobile-nav {
    display: none;
}
.menu-bg {
    opacity: 0;
    z-index: 50;
    width: 100vw;
    height: 170px;
    position: fixed;
    background: linear-gradient(180deg, #1B1B54 0%, rgba(27, 27, 84, 0.00) 100%);
}

.title {
    font-size: 1em;
    background-color: #080C12;
    height: 60vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.title::after {
    content: '';
    position: absolute;
    top: -300px;
    right: -300px;
    bottom: -280px;
    left: -300px;
    background: conic-gradient(from 115deg at 52.19% 42.81%, #080C12 55.49995243549347deg, #2B2AC5 143.92289400100708deg, #6C6BE2 149.2499542236328deg, #6027AB 156.78683280944824deg, #9443FF 173.6249577999115deg, #6BC5E2 192.37496137619019deg, #D377C0 301.1249542236328deg, #080C12 323.6249542236328deg);    
    filter: blur(160px);
    z-index: 0;

    animation: 30s move linear infinite;
}

.titleSpan {
    position: absolute; 
    left: 10%; 
    bottom: 50%;
    transform: translateY(50%); 
    font-weight: 400; 
    font-size: 52px;
    letter-spacing: -1.5px;
    z-index: 3;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s cubic-bezier(.32,.99,.62,1);
}
.titleSpan:hover {
    font-weight: 600;
    transition: all .5s cubic-bezier(.32,.99,.62,1);
}

.arrowWrap {
    height: 68px;
    z-index: 1;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 18em;
    left: 50%;
    transform: translateX(-50%);
}
.arrow img {
    animation: arrow 1s infinite;
    height: 40px;
    filter: brightness(1000%);
}
@keyframes arrow {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: none;
    }
}
@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(150%);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media only screen and (orientation: portrait) {
.footer {
    padding: 6%;
}
}
@media only screen and (max-width: 1400px) {
    .main-nav {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-nav {
        display: block;
        position: relative;
    }
    .responsive {
        display: flex;
        flex-flow: column nowrap;
        position: fixed;
        background-color: rgba(38, 35, 56, 0.8);
        backdrop-filter: blur(32px);
        width: 100%;
        padding-top: 100px;
        z-index: 100;
        animation: .5s menuIn;
    }
    .responsive a {
        margin: 1em 3em;
    }
}
@keyframes menuIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes menuOut {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.footer-link-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
}


