@font-face {
    font-family: 'LCDDot TR';
    src: url('../fonts/lcddottr.woff') format('woff'),
        url('../fonts/lcddottr.woff2') format('woff2');
}
@font-face {
    font-family: 'Inabakumori Sans';
    src: url('../../files/InabakumoriSansJP-Regular.ttf') format('truetype'),
        url('../../files/InabakumoriSans-Regular.woff') format('woff'),
        url('../../files/InabakumoriSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inabakumori Sans';
    src: url('../../files/InabakumoriSansJP-Bold.ttf') format('truetype'),
        url('../../files/InabakumoriSansJP-Bold.woff') format('woff'),
        url('../../files/InabakumoriSansJP-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.title {
    height: 120vh;
}
.titleText {
    font-size: 52px;
    font-family: Instrument Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
    height: fit-content;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s cubic-bezier(.32,.99,.62,1);
}
.titleText:hover {
    font-weight: 600;
    transition: all .5s cubic-bezier(.32,.99,.62,1);
}
.titleContent {
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}
.latestProject {
    z-index: 2;
    color: #eee;
    transition: all .5s cubic-bezier(.32,.99,.62,1);

}
.latestProject:hover {
    transform: translateY(-10px);
    transition: all .5s cubic-bezier(.32,.99,.62,1);
    filter: drop-shadow(0 2px 4px rgba(255,255,255,.35));
}
.latestImage {
    height: 380px;
    width: 608px;
    background-image: url("../images/schale_thumb.png");
    background-size: cover;
    border-radius: 68px;
    margin-top: 10px;
    box-shadow: 0px 1.6px 14px 0px rgba(240, 246, 255, 0.40);
}
.hachiAvatar {
    width: 160px;
    height: 160px;
    background-image: url(../images/yuuka_head.png);
    border-radius: 160px;
    background-size: cover;
    transform: translate(-50%,-50%);
    box-shadow: 4.8px -4.8px 16px 0px rgba(108, 107, 226, 0.40);
}
.dot {
    font-family: "LCDDot TR";
}
.serif {
    font-family: 'Roboto Serif';
}
.latestInfo {
    padding-left: 120px;
    padding-top: 14px;
    position: absolute;
    transform: translateY(-168px);
}
.latestTitle {
    font-size: 32px;
    font-family: Instrument Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 3px solid rgba(255, 255, 255, .5);

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.latestMisc {
    margin-top: 6px;
    display: flex;
    flex-flow: row nowrap;
    width: -webkit-fill-available;
    justify-content: space-between;
}
.miscContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
}

.projects {
    min-height: 600px;
    padding: 6em 20%;
    color: #eee;
    background: linear-gradient(180deg, #131518 0%, #001028 100%);
}
.sectionTitle h1 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 39px;
    font-style: normal;
    font-weight: 700;

    opacity: .8;
}
.sectionTitle span {
    opacity: .5;
}

.projectWrap {
    margin: 82px 0;
}
.projectTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
}
.projectID {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 39px;
    font-style: normal;
    font-weight: 700;

    margin-bottom: -10px;
}
.projectTitleText {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    border-bottom: 3px solid rgba(255, 255, 255, .8);
}

.projectContent {
    display: flex;
    flex-flow: row nowrap;
    gap: 120px;
}

.projectImageWrap {
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
}
.projectImage {
    width: 565px;
    height: 360px;
    background-size: cover;
    background-position: center;
    border-radius: 68px;
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}
.SCHALEImage {
    background-image: url(../images/schale_thumb.png);
}
.KRPISImage {
    background-image: url(../images/KR_PIS.png);
}
.MIDCardImage {
    background-image: url(../images/millenniumID.png);
}
.SIDCardImage {
    background-image: url(../images/thumbnail_schale.png);
}
.MFontImage {
    background-image: url(../images/monospace.png);
}
.HFontImage {
    background-image: url(../images/katakana.png);
}
.KAMITSUBAKIImage {
    background-image: url(../images/kamitsubaki_page.png);
}
.INAImage {
    background-image: url(../images/inabakumori/hero.svg);
}
.projectImage:hover {
    border-radius: 225px;
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}
.thumbnail::after {
    content: "VIDEO THUMBNAIL";
    font-family: "LCDDot TR";
    font-size: 48px;
    background-color: rgba(0, 0, 0, .5);
    width: 565px;
    height: 360px;
    display: flex;
    border-radius: 68px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}
.thumbnail:hover::after {
    opacity: 1;
    border-radius: 225px;
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}
.scrshot::after {
    content: "SCREENSHOT";
    font-family: "LCDDot TR";
    font-size: 48px;
    background-color: rgba(0, 0, 0, .5);
    width: 565px;
    height: 360px;
    display: flex;
    border-radius: 68px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}
.scrshot:hover::after {
    opacity: 1;
    border-radius: 225px;
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}

.projectInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.projectInfoUpper {
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
}
.projectInfoUpper p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projectAction {
    display: flex;
    flex-flow: column nowrap;
    gap: 9px;
}
.actionLabel {
    font-size: 20px;
}
.action {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: fit-content;

    font-size: 16px;
    font-family: Instrument Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}
.action:hover {
    transform: translateY(-1px);
    transition: all .3s cubic-bezier(.32,.99,.62,1);
}
.Blue {
    color:#2974E6;
    border-bottom-color:#2974E6;
}
.Blue svg {
    fill: #2974E6;
}
.Red {
    color:#F24E1E;
    border-bottom-color:#F24E1E;
}
.Red svg {
    fill: #F24E1E;
}
/* Color from Figma Logo */
.Purple {
    color:#A259FF;
    border-bottom-color:#A259FF;
}
.Purple svg {
    fill: #A259FF;
}
.Green {
    color:#0ACF83;
    border-bottom-color:#0ACF83;
}
.Green svg {
    fill: #0ACF83;
}
.Yellow {
    color: #EAC378;
    border-bottom-color: #EAC378;
}
.Yellow svg {
    fill: #EAC378;
}
.Gray {
    color: #AAA;
    border-bottom-color: #AAA;
}
.Gray svg {
    fill: #AAA;
}

.projectInfoRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-top: 2px solid #CED0D2;
    color: #CED0D2;
    padding-top: 16px;
}
.infoRowContent {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

/* MOBILE */

@media only screen and (orientation:portrait) {
    .titleContent {
        flex-direction: column;
        margin-top: 160px;
        justify-content: flex-start;
        align-items: center;
        gap: 64px;
    }
    .latestImage {
        height: 285px;
        width: 456px;
        max-width: 90vw;
    }
    .latestTitle {
        font-size: 22px;
        white-space: nowrap;
    }
    .latestInfo {
        transform: translateY(-55px);
        padding-left: 80px;
    }
    .hachiAvatar {
        width: 60px;
        height: 60px;
        transform: translate(0,-40%);
    }
    .arrowWrap {
        display: none;
    }
    .projects {
        padding: 6em 5%;
    }
    .projectImage {
        width: 100%;
        height: 60vw;
    }
    .projectImage::after {
        width: 100%;
        height: 60vw;
    }
    .projectContent {
        flex-flow: column;
    }
    .projectInfo {
        justify-content: flex-start;
        gap: 28px;
    }
    .projectInfoRow {
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 36px;
    }
}
@media only screen and (max-width: 1200px) {
    .titleContent {
        flex-direction: column;
        margin-top: 160px;
        justify-content: flex-start;
        gap: 64px;
    }
    .latestImage {
        height: 285px;
        width: 456px;
    }
    .latestMisc {
        flex-flow: column;
    }
    .projects {
        padding: 6em 5%;
    }
    .projectImage {
        width: 100%;
        height: 60vw;
    }
    .projectImage::after {
        width: 100%;
        height: 60vw;
    }
    .projectContent {
        flex-flow: column;
    }
    .projectInfo {
        justify-content: flex-start;
        gap: 28px;
    }
    .projectInfoRow {
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 36px;
    }
}