h1 {
    font-weight: 700;
    transition: 0.3s all;
}
@font-face {
    font-family: 'Inabakumori Sans';
    src: url('./files/InabakumoriSansJP-Regular.ttf') format('truetype'),
        url('./files/InabakumoriSans-Regular.woff') format('woff'),
        url('./files/InabakumoriSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inabakumori Sans';
    src: url('./files/nabakumoriSansJP-Bold.ttf') format('truetype'),
        url('./files/InabakumoriSansJP-Bold.woff') format('woff'),
        url('./files/InabakumoriSansJP-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
h1:hover {
    font-weight: 300;
    transition: 0.3s all;
}
.title {
    font-size: 1em;
    background: #B6B6B6 no-repeat center/80% url("https://raw.gitmirror.com/hcrk9/hcrk9.github.io/main/images/inabaku.jpg");
    height: 100vh;
    display: flex;
    flex-flow: column-reverse nowrap;
}
.arrowWrap {
    height: 68px;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}
.arrow img {
    animation: arrow 1s infinite;
}
@keyframes arrow {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: none;
    }
}
.title-text {
    font-variation-settings: "wght" 750;
    transition: font-variation-settings 0.5s ease;
    height: 4vw;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
    top:50%;
}
.title-text:hover {
    font-variation-settings: "wght" 300;
}
.title-text span{
    display: block;
    box-sizing: border-box;
    background-size: 100% 100%;
    position: absolute;
    top: 4.5vw;
    margin-bottom: var(--offset);
    pointer-events: none;
}
.title-text-1 {
    letter-spacing: -0.04em;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 8%,rgba(141, 143, 246, 0.8) 8%, rgba(104, 188, 235, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.title-text-2 {
    letter-spacing: -0.04em;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 8%,rgba(246, 141, 141, 0.8) 8%, rgba(235, 151, 104, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.title-text-3 {
    letter-spacing: -0.04em;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 8%, rgba(143, 246, 141, 0.8) 8%, rgba(104, 227, 235, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.title-text span[data-show] {
    transform: translateY(-100%);
    transition: .3s transform ease;
}
.title-text span[data-up] {
    transform: translateY(-200%);
    transition: .3s transform ease;
}
.img-info {
    background-image: linear-gradient(90deg, #EE764C 0%, #653027 100%);
    padding:0 13em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.img-alt {
    opacity: 50%;
    font-family: Montserrat;
}
.bold-vf {
    font-weight:600;
    transition: 0.3s font-weight;
}
.bold-vf:hover {
    font-weight:400;
    transition: 0.3s font-weight;
}
.copyright-link {
    color:#000;
    text-decoration: none;
    transition: 0.2s text-shadow;
}
.copyright-link:active {
    color:#fff;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
    transition: 0.2s text-shadow;
}
.separation {
    height: 20px;
    background: repeat center url(./images/construction-line.svg), linear-gradient(0deg, #222 0%, #333 100%);
}
.projects {
    background-color: #000;
}
.projects-01 {
    background: linear-gradient(90deg, #07287F 50%, #4B68B5 100%);
    color: #eee;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.projects-02 {
    background: linear-gradient(90deg, #EFA8CE 0%, #E57F82 50%);
    color: #222;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.projects-description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 12px;
}
.upper {
    padding-left: 12px;
}
.projects-name {
    font-size:2.5vw;
}
.projects-id-light {
    margin:0%;
    font-size: 4vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.projects-id-dark {
    margin:0%;
    font-size: 4vw;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.projects-image {
    background-color: #222;
    display: flex;
    align-items: center;
}
.projects-image img {
    width: -webkit-fill-available;
}
.description-text {
    width: 48rem;
}
.project-01-info {
    display: grid;
    height: auto;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-areas: "date type tool time";
    background-color: #c7deff;
}
.project-02-info {
    display: grid;
    height: auto;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-areas: "date type tool time";
    background-color: #FFC7C9;
}
.project-01-date,.project-01-type,.project-01-time,.project-01-tool {
    color: #07287F;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.project-02-date,.project-02-type,.project-02-time,.project-02-tool {
    color: #7E070A;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.font {
    font-family: Multiply Monospace, monospace;
    display: flex;
    justify-content: space-around;
    color:var(--primary);
    background: var(--background);
}
section {
    position: relative;
}
.kamitsubaki, .kamitsubaki a {
    background-color: #eee;
    color: #000;
    font-size: 60px;
    letter-spacing: -6px;
    text-align: right;
}
/* MOBILE */

@media only screen and (orientation:portrait) {
    .projects h1 {
        padding: 0.5em 3rem!important;
    }
    .title {
        font-size: 1rem;
        background: rgba(0, 0, 0, 0.8) no-repeat top/250% url("https://raw.gitmirror.com/hcrk9/hcrk9.github.io/main/images/inabaku.jpg");
    }
    .title-text {
        height: 10vw;
        padding-bottom: 6px;
    }
    .title-text span {
        top: 10.5vw;
    }
    .img-info {
        padding: 0 3em;
        display: none;
    }
    .img-alt {
        display: none;
    }
    .projects-01,.projects-02 {
        width: 100vw;
        grid-template-rows: repeat(2,minmax(0,1fr));
        grid-template-columns: none;
    }
    .projects-description {
        flex-flow: column wrap;
    }
    .projects-name {
        font-size: 10vw;
        width: 100vw;
    }
    .projects-id-light, .projects-id-dark {
        font-size: 12vw;
    }
    .projects-image {
        width: 100vw;
    }
    .projects-image img {
        width: 100vw;
    }
    .description-text {
        width: 90vw;
    }
    .project-01-info,.project-02-info {
        width: -webkit-fill-available;
        padding: 1em 0em;
        gap: 0em;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-template-areas: "date type" "tool time";
    }
    .project-01-date, .project-01-tool, .project-02-date, .project-02-tool {
        padding-left: 10px;
    }    
}