.title {
    background: no-repeat center/286% url("./assets/images//cccircular.svg");
    height: 60vh;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-text {
    text-align: center;
    letter-spacing: -0.04em;
    background: linear-gradient(92.86deg, #7F80D5 0%, #FF8CD1 100.25%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-line-1 {
    animation: 8s line-1 infinite ease;
}
.title-line-2 {
    animation: 8s line-2 infinite ease;
}
.title-line-3 {
    animation: 8s line-3 infinite ease;
}
@keyframes line-1 {
    0% {
        font-weight: 120;
    }
    25% {
        font-weight: 700;
    }
    50% {
        font-weight: 120;
    }
    100% {
        font-weight: 120;
    }
}
@keyframes line-2 {
    0% {
        font-weight: 300;
    }
    25% {
        font-weight: 300;
    }
    50% {
        font-weight: 800;
    }
    75% {
        font-weight: 300;
    }
    100% {
        font-weight: 300;
    }
}
@keyframes line-3 {
    0% {
        font-weight: 400;
    }
    50% {
        font-weight: 400;
    }
    75% {
        font-weight: 900;
    }
    100% {
        font-weight: 400;
    }
}

.main-content {
    color: var(--primary);
    padding: 4em 20vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.quote {
    text-align: right;
}
.quote h1 {
    font-weight: 200;
    font-style: italic;
    transition: all 0.3s;
}
.quote h1:hover {
    font-weight: 700;
    font-style: italic;
    transition: all 0.3s;
}
h2 {
    font-weight: 400;
}
button {
    background-color: transparent;
    color: var(--primary);
    border:1px solid var(--primary);
    border-radius: 10px;
}
.icon-list {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}
.icon-photoshop {
    background:no-repeat center url(./assets/images//Adobe_Photoshop_CC_icon.svg);
    width: 100px;
    height:100px;
}
.icon-premiere-pro {
    background:no-repeat center url(./assets/images//Adobe_Premiere_Pro_CC_icon.svg);
    width: 100px;
    height:100px;
}
.icon-figma {
    background:no-repeat center/contain url(./assets/images//Figma-Icon.svg);
    width: 100px;
    height:100px;
}
.icon-vscode {
    background:no-repeat center/contain url(./assets/images//Visual_Studio_Code_1.35_icon.svg);
    width: 100px;
    height:100px;
}
.icon-github {
    background:no-repeat center/contain url(./assets/images//Font_Awesome_5_brands_github.svg);
    width: 100px;
    height:100px;
}
.icon-ncm {
    background:no-repeat center/contain url(./assets/images//NetEase_Music_icon.png);
    width: 100px;
    height:100px;
}
.link-ncm {
    background-color: #DD001B;
    color: #eee;
    border-radius: 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
}
.link-ncm:active {
    filter: brightness(.5);
}
@keyframes closeAlert {
    from {
        opacity: 100%;
    }
    to {
        opacity:0%;
    }
}
#VF-alert {
    background-color: #d0ac49;
    font-weight: 600;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.kamitsubaki {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.kaf, .isekaijoucho {
    min-width: 400px;
    width: -webkit-fill-available;
    height: 120px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    font-weight: 100;
}
.kaf {
    background:center / cover no-repeat url("./assets/images//Clip_20221114_000123.png");
}
.isekaijoucho {
    background:center / cover no-repeat url("./assets/images//Clip_20221114_000219.png");
}
@media only screen and (orientation:portrait) {
    .kamitsubaki {
        flex-flow: row wrap;
    }
}